 .b_box{
    width: 100%;
    background:linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url("image/bac1.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
 }
 .b1{
    margin-top:175px;
    font-size: 60px;
    color: white;
    line-height: 50px;
 }
 .b2{
    font-size: 38px;
    color: white;
 }